<div class="container-fluid">
<div class="row">
<div class="col-sm"><h1>Home Page</h1></div>
<div class="col-sm"><p>Welcome to our web application for CS2012</p></div>
<div class="col-sm"><p>This application is divided in three pages: Home Page, Temperature and Rainfall Page and Locations Page.</p></div>
<div class="col-sm"><p>Temperature and Rainfall Page displays a graph showing the evolution of the temperature and the rainfall in Scotland over the last decade.</p></div>
<div class="col-sm"><p>Locations Page displays three google maps showing the location of three rainfall stations near Inverness(Allanfearn), Edinburg(Harelaw) and Glasgow(Dalmarnock),</p></div>
<div class="col-sm"><p>this page also displays a graph showing the evolution of the rainfall over the last decade in those three locations.</p></div>
<div class="col-sm"><p>Alexandre Gianelli (Student ID:51768276) Robert Rankine (Student ID:51767882).</p></div>
</div>

</div>

