<nav class="navbar navbar-expand-sm bg-light">

  <ul class="navbar-nav">

    <li class="nav-item">

      <a class="nav-link" href="/assessment/home">Home Page</a>

    </li>

    <li class="nav-item">

      <a class="nav-link" href="/assessment/TandR">Temperature and Rainfall Page</a>

    </li>

    <li class="nav-item">

      <a class="nav-link" href="/assessment/locations">Locations Page</a>

    </li>

  </ul>

</nav>

